.divContainer{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

aside{
    display: flex;
    flex-direction: column;
}

.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    color: #888888;
    margin: 10px;
    width: 340px;
    height: 30px;
}

.input{
    height: 30px;
    width: 340px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.text{
    width: 200px;
}

.btn{
    width: 340px;
    height: 30px;
    background-color: white;
    color: #888888;
    border:solid #00000029 1px;
    display: block;
    margin: 20px;
}

.titulo{
    font-size: 20px;
    font-family:Helvetica, sans-serif;
    font-weight: 600;
    color: #888888;
}

.texto{
    color: #888888;
    padding: 20px 0px;
}

.radio{
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    color: #888888;
}