.tema{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.explicacao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.color{
    background-color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    height: 40px;
    width: 160px;
    background-color: white;
    color: #888888;
    border:solid #00000029 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}