.tema{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.frase{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
}

.explicacao{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.color{
    background-color: #707070;
}

.btn{
    height: 40px;
    width: 160px;
    background-color: white;
    color: #888888;
    border:solid #00000029 1px;
    display: inline;
    margin-left: 3.5rem;
}
.btn1{
    height: 40px;
    width: 160px;
    background-color: white;
    color: #888888;
    border:solid #00000029 1px;
    display: inline;
    margin-left: 16rem;
}