.img{
    width: 200px;
    height: 150px;
}

.nomeProduto{
    font-size: 14px;
    font-family:Helvetica, sans-serif;
    color: #888888;
}

.descricao{

    font-size: 12px;
    font-family:Helvetica, sans-serif;
    color: #888888;
}

.valor{
    font-size: 14px;
    font-family:Helvetica, sans-serif;
    color: #888888;
}

.promo{
    font-size: 14px;
    font-family:Helvetica, sans-serif;
    color: #888888;
}

.parcelas{
    font-size: 14px;
    font-family:Helvetica, sans-serif;
    color: #888888;
}